<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Clientes</title>
</head>
<body>
    <h2>Lista de Clientes</h2>
    <ul>
        {% for cliente in clientes %}
            <li>{{ cliente.nombre }} - {{ cliente.dni }} - {{ cliente.email }} - {{ cliente.edad }}</li>
        {% endfor %}
    </ul>
    <br>
    <a href="{% url 'crear_cliente' %}">Crear Cliente</a>
</body>
</html>
